/* The copyright footer centres a single muted ownership line. */
.site-footer {
  padding: 0.85rem 1rem;
  color: var(--slate);
  background: var(--off-white);
  text-align: center;
}

/* Copyright text stays small and has no trailing paragraph gap. */
.site-footer p {
  margin-bottom: 0;
  font-size: 1rem;
}

.copyright-notice {
  font-weight:bold;
  color: rgb(194, 78, 78);
}
.copyright-notice:hover {
  color: rgb(255, 72, 72);
  transition: all 0.3s ease-in-out ;
}
